.sidebar {
  border-right: 1px solid #23232133;
  position: fixed;
  width: 20%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-top: 40px;
  gap: 30px;
  align-items: center;
  overflow-y: scroll;
  .logo {
    max-width: 160px;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .onContent {
      color: #fff;
      background-color: #003f62;
    }
    li {
      display: flex;
      gap: 10px;
      padding: 16px;
      align-items: center;
      text-transform: uppercase;
      color: #232321;
      font-family: Rubik;
      font-size: 14px;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: 0.25px;
      padding: 15px;
      border-radius: 8px;
      transition: all 0.5s;
      &:hover {
        color: #fff;
        background-color: #003f62;
        cursor: pointer;
      }
      i {
        font-size: 17px;
      }
    }
  }
  .categories {
    position: relative;
    width: 90%;
    .category-btn {
      color: #232321;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 600;
      line-height: 120%;
      align-items: center;
    }
    .category-dropdown {
      position: absolute;
      top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      transition: all 0.9s;
      display: none;
      .category_items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .wrap_input_category {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          input {
            font-size: 11px;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: 0.5px;
            width: 100%;
            border: 1px solid #232321;
            padding: 5px;
            border-radius: 8px;
          }
          span {
            font-size: 11px;
            padding: 5px;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
          }
          .cancel {
            background-color: rgb(255, 0, 0);
          }
          .save {
            background-color: rgb(0, 38, 255);
          }
        }
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 400;
          cursor: pointer;

          p {
            font-size: 16px;
          }
          span {
            text-transform: capitalize;
            padding: 8px 14px;
            border-radius: 4px;
            font-size: 16px;
            color: #fff;
            background-color: #003f62;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .add_category_btn-wrap {
        text-align: center;
        .add_category {
          background-color: rgb(115, 173, 227);
          padding: 5px 12px;
          font-weight: 600;
          font-size: 18px;
          color: #fff;
          border-radius: 6px;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
