
.login-page {
  background: linear-gradient(
    15deg,
    rgba(34, 162, 195, 1) 0%,
    rgba(253, 45, 248, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 200px;
  height: 100vh;
  .navbar {
    background-color: transparent;
    box-shadow: none;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;
      padding: 36px 20px;
      margin: 0 auto;
      ul {
        li {
          a {
            font-size: 30px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;
            font-weight: 700;
            i {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
  .wrapper {
	flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	.tost{
	top: 0;
	left: 50%;
	transform: translateX(-50%);
		position: absolute;
		
	}
    form {
      margin-top: 100px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.681);
      padding: 30px 20px;
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .success {
        color: green;
        }
        .error{
          color: rgb(255, 0, 0);
        }
        
      p {
        display: flex;
        flex-direction: column;
        gap: 2px;
        select{
          padding: 10px;
          border: 2px solid $blue;
          background-color: transparent;
          font-size: 20px;
          outline: none;
        }
        label {
          color: $color;
          font-weight: 600;
          font-size: 18px;
        }
        input {
          background-color: transparent;
          font-size: 20px;
          padding: 5px;
          color: rgb(3, 9, 56);
          border-bottom: 2px solid $blue;
        }
      }
      button {
        text-align: center;
        width: 100%;
        color: #fff;
        padding: 10px;
        background-color: $blue;
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px;
      }
      a {
        display: block;
        text-align: center;
        font-size: 19px;
        color: rgb(136, 11, 181);
      }
    }
  }
}
