// General styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
  font-family: sans-serif;

  }
  a {
	color: inherit;
  }
  img {
	width: 100%;
  }
  input,
  button {
	cursor: pointer;
	outline: none;
	border: none;
  background-color: transparent;
  }
  