.registration{
	background: rgb(34,162,195);
	background: linear-gradient(15deg, rgba(34,162,195,1) 0%, rgba(253,45,248,1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 200px;
}
	
.register-section{
	height: 100vh;

	.navbar{
		background-color: transparent;
		box-shadow:none;
		.container{
			ul{
				li{
					a{
						color: #fff;
					}
				}
			}
		}
	}
	.wrapper{
		display: flex;
		justify-content: center;
		align-items:center;
		form{
			margin-top: 100px;
			border-radius:10px;
			background-color: rgba(255, 255, 255, 0.681);
			padding: 30px 20px;
			width: 30%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			p{
				display: flex;
				flex-direction: column;
				gap: 2px;
				.error{
					color:red;
					font-size: 14px;
				}
				label{
					color:$color;
					font-weight: 600;
					font-size: 18px;
				}
				input{
					font-size: 20px;
					padding: 5px;
					color: rgb(3, 9, 56);
					border-bottom:2px solid $blue;
				}
			}
			.rememberMe{
				flex-direction: row;
				border-bottom:none;
				margin: 25px 0 20px;
				#check{
					width: 17px;
				}

			}
			button{
				text-align: center;
				width: 100%;
				color:#fff;
				padding: 10px;
				background-color: $blue;
				font-size: 20px;
				font-weight: 600;
				border-radius:10px;
			}
			a{
				display: block;
				text-align: center;
				font-size: 19px;
				color: rgb(136, 11, 181);
			}
		}

	}
}
	
